<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-header py-0">
        <h3 class="card-title text-center">Search Countries</h3>
      </div>
      <div class="card-body py-0">
        <ul class="text-center list-inline py-0">
          <li class="list-inline-item">
            <mat-form-field class="example-form-field">
              <mat-label>Name</mat-label>
              <label>
                <input matInput type="text" [(ngModel)]="name">
              </label>
              @if (name) {
              <button matSuffix matIconButton aria-label="Clear" (click)="name=''">
                <mat-icon>close</mat-icon>
              </button>
              }
            </mat-form-field>
          </li>
          <li class="list-inline-item">
            <mat-form-field class="example-form-field">
              <mat-label>Code</mat-label>
              <label>
                <input matInput type="text" [(ngModel)]="code">
              </label>
              @if (code) {
              <button matSuffix matIconButton aria-label="Clear" (click)="code=''">
                <mat-icon>close</mat-icon>
              </button>
              }
            </mat-form-field>
          </li>
        </ul>
      </div>
      <div class="card-footer py-0">
        <ul class="text-center list-inline">
          <li class="list-inline-item">
            <button matButton class="btn app-btn" (click)="onFilter()">Filter</button>
          </li>
          <li class="list-inline-item">
          </li>
          <li class="list-inline-item">
            <button matButton class="btn app-btn-clear" (click)="clearFilter()">Clear</button>
          </li>
          <li class="list-inline-item">
          </li>
          <li class="list-inline-item text-info">
            <label>Count: <strong>{{count}}</strong></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
