<div class="main-container">
  <mat-toolbar color="primary" class="header-toolbar">
    <div class="text-center">Java Stream API Demo
      <div class="text-center highlighted"><mark>API Used -> <strong>{{ streamAPIName }}</strong></mark></div>
    </div>
  </mat-toolbar>

  <div class="content-container">

    <div class="canvas-container">
      <!-- Canvas for Coins -->
      <app-wallet [coins]="coins"></app-wallet>
    </div>

    <div class="buttons-container">
      <!-- Buttons Section -->
      <button (click)="onReFill()">Re Fill All Coins</button>
      <button (click)="onTotal()">Find Total Money</button>
      <button (click)="onCount()">Find 100 Coin Count</button>
      <button (click)="onMax()">Find Maximum Coin</button>
      <button (click)="onNextMax()">Find Second Maximum Coin</button>
      <button (click)="onSort()">Sort Elements in a Stream</button>
      <button (click)="onDistinct()">Remove duplicates in a Stream</button>
    </div>
  </div>
</div>

